<!DOCTYPE html>

<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>window.challenge = {
      code: {{{code}}},
      id: "{{{id}}}"
    };
    </script>
  </head>

  <body>
    <h4 class="challengeName">Count my money!</h4>

    <div class="challengeDescription">
      <h5>Description</h5>
        I would like a function that takes a string that describes an integer value and returns that integer.
        This string will contain only number words, no punctuation or joiners. No 'and' or dashes.
      <div class="example>">
        I give you 'one hundred three'.<br />
        You will return 103</br>

        I give you 'five hundred twenty seven'</br>
        You will return 527.
      </div>

        Challenge mode:  Write a function that handles numbers from 0 to 999.</br>
        Bonus mode: Write a function that handles numbers up to 999 million</br>
        Hard mode: Satisfy the bonus mode and allow for decimal values described only as 1-9 digits. (one hundred point zero two three = 100.023)
    </div>

    <div class="challengeInstructions">
      <h5>Instructions</h5>
      Write a function named 'transcribe' that takes 1 string argument and returns an integer.<br/>

      Arg 1: A string describing the number to output<br/>

    </div>

    <div id="app">
      <button type="submit" id="entry">Run! (Shift + Enter)</button>
      <div id="editor"></div>
    </div>

    <div id="challengeResults">
        <div id="challengeModeResult"></div>
        <div id="bonusModeResult"></div>
        <div id="hardModeResult"></div>
    </div>

    <iframe
      id="contentFrame"
      src="/embed/{{{id}}}"
      height="1"
      width="1"
      frameBorder="0">
    </iframe>

    <script src="/static/application.bundle.js"></script>
  </body>
</html>
