<!DOCTYPE html>

<html>
  <head>
    <title>Test</title>
  </head>

  <body>
    <script src="/submissions/{{id}}?{{rand}}"></script>

    <script src="/static/embed.bundle.js"></script>
  </body>
</html>
